/*STYLESHEET 18BP Corneel Mayné*/
/*Tim van Dijck*/

/*AFBEELDINGEN*/
	#banner {max-width: 100%;}
	img {
		height: auto;
		max-width: 100%;
	}
	.preview {
		margin-top: 20px;
		width: 120px;
	}
	#slider {
		margin-bottom: -20px;
		max-width: 100%;
		position: relative;
	}
	#slider > div { 
	    position: absolute;
	    top: 0;
		height: 200px;
		overflow-y: hidden;
	}
	#slider img {width: 100%;}
/*------------*/

/*AGENDA/TABLES*/
	.agenda a
	{
		color: white;
		font-size: 18px;
		font-weight: bold;
		text-decoration: none;
	}
	.agenda p {	padding-left: 10px;}
	.agenda a:hover {
		background: #4E7A05;
		text-decoration: underline;
	}
	.mid td {
		border-left: 1px solid #dddddd;
		text-align: left;
		width: 300px;
	}
	.table {
	  width: 100%;
	  max-width: 100%;
	  margin-bottom: 60px;
	}
	.table > tbody > tr > td {
	  padding: 8px;
	  line-height: 1.42857143;
	  vertical-align: top;
	  border-top: 1px solid #ddd;
	}
	.table > thead:first-child > tr:first-child > th,
	.table > thead:first-child > tr:first-child > td { border-top: 0;}
	.table > thead > tr > th {
	  vertical-align: bottom;
	  border-bottom: 2px solid #ddd;
	}
	.table-bordered td { border-left: 1px solid #dddddd;}
	.table-bordered {
		border: 1px solid #dddddd;
		border-collapse: separate;
		border-left: 0;
		-webkit-border-radius: 4px;
	     -moz-border-radius: 4px;
	          border-radius: 4px;
	}
	.table-striped > tbody > tr:nth-child(odd) {
	  background-color: #f9f9f9;
	}
	table td, table th { vertical-align: top;}
	thead { font-weight: bold;}
/*------*/

/*--BODY--*/
	.public {
		margin-top: 400px;
		background-color: white;
		position: relative;
		z-index: 2;
	}
	html, body {min-height: 100vh;}
	body {
		font-family: 'Roboto';
		font-size: 16px;
		margin: 0;
	}
	.hopper { margin-top: 100px;}
	#leftie {
		background: #679E1D;
		color: white;
		height: 100%;
		margin-bottom: -8px;
		margin-left:0px;
		margin-top: -8px;
		padding-top: 65px;
	}
	#rightie
	{
		float: right;
		margin-right: 40px;
		margin-top: 50px;
	}
	.subview {
		padding-left: 30px;
	}
/*--------*/

/*CONTAINER*/
	.container {
		margin-left: auto;
		margin-right: auto;
	}
	.container:after, .row:after { clear: both;}
	.container:before, .container:after,
	.row:before, .row:after {
		content: "";
		display: table;
		line-height: 0;
	}
/*---------*/

/*FLOAT*/
	.clear-both	{ clear: both;}
	.clear-left { clear: left;}
	.clear-right{ clear: right;}
	.pull-left	{ float: left;}
	.pull-right	{ float: right;}
/*---*/

/*--HEADER--*/
	header {
		height: 400px;
		position: fixed;
		left: 0;
		right: 0;
		z-index: 1;
	}
	header img {
		position: absolute;
		bottom: 0;
	}
/*----------*/

/*--FOOTER--*/
	footer {
		background-color: #4E7A05;
		bottom: 0;
		box-sizing: border-box;
		color: white;
		padding-left: 110px;
		padding-right: 110px;
		position: absolute;
		width: 100%;
		z-index: 2;
	}
	#disclaimer {
		clear: both;
		padding: 5px 20px 5px 0;
		text-align: right;
		font-size: 60%;
	}
	.uc { padding: 20px 0 300px 20px;}
/*----------*/

/*NAVIGATION*/
	.active {
		font-weight: bold;
		text-decoration: none;
	}
	.breadcrumbs {
		color: gray;
		margin: 10px 0 -5px 10px;
	}
	.breadcrumbs a {
		color: gray;
		font-weight: bold;
	}
	.dropdown {
		position: relative;
	}
	.dropdown ul {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		display: none;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 52px;
		visibility: hidden;
		width: 150px;
		z-index: 3;
		background-color: #324F02;
	}
	.dropdown:hover ul {
		display: block;
		opacity: 1;
		visibility: visible;
	}
	.dropdown ul li {
		display: list-item;
		padding: 13px 5px 14px 5px;
	}
	.dropdown ul li:hover {background-color: #425F12;}
	.navbar {
		position: relative;
		height: 40px;
		background-color: #4E7A05;
		margin-top: -4px;
		z-index: 2;
	}
	.inhoud {
		margin-left: 20px;
		padding-right: 20px;
		width: 200;
	}
	.inhoud h4 {padding-left: 15%;}
	#inhoud {
		line-height: 175%;
		margin-left: 20px;
		padding-left: 15px;
	}
	#main_container {
		background-color: white;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		padding-bottom: 20px;
	}
	#nav.navbar-inverse {
		background-color: #4E7A05;
		border: 2px solid #4E7A05;
		color: white;
	}
	.nav {margin: 0;}
	.nav .active { background: #324F02;}
	.navbar .brand, .navbar .nav { float: left;}
	.navbar .nav > li {
		display:list-item;
		float: left;
		font-weight: bold;
		padding: 0 5px;
		height: 50px;
		line-height: 50px;
	}
	.navbar .nav > li:hover { background-color: #324F02;}
	nav {
		float: right;
		padding-left: 2.127%;
		padding-right: 2.127%;
	}
	.nav {
		list-style: none;
		margin-left: 0;
	}
	.nav li a {
		color: white;
		font-size: 20px;
		padding: 14px 10px;
		text-decoration: none;
	}
	.subnav .one-third a {
		background-color: #679E1D;
		color: white;
		cursor: pointer;
		display: inline-block;
		font-weight: 700;
		margin: 0 5%;
		padding: 1em 0;
		text-align: center;
		text-decoration: none;
		width: 90%;
	}
	ul, ol {
		list-style-type: none;
		padding: 0;
	}
/*----------*/

/*TEXT*/
	.gray-title {
		background-color: #e1e1e1;
		padding: 10px 0 10px 50px;
	}
	.text-center { text-align: center;}
	.text-right { text-align: right;}
	.title {
		color: #4E7A05;
		text-align: center;
		width: 100%;
		font-weight: 700;
	}
/*---*/

/*NOSCRIPT*/
	noscript p {
		padding-left: 15px;
		padding-right: 15px;
	}
	noscript a {
		color: white;
		font-weight: bold;
	}
/*--------*/

/*NIEUWS*/
	.artikel {
		background-color: #DADADA;
		height: auto;
		margin-right: 30px;
		margin-top: 15px;
		margin-bottom: 15px;
		overflow: hidden;
		padding: 0 10px 0 10px;
	}
	.artikel a {
		color: black;
		text-decoration: none;
	}
	.artikel .glyphicon-trash {
		float: right;
		margin-bottom: 5px;
		margin-right: 5px;
		margin-top: 5px;
		min-height: 1px;
		text-align: right;
	}
	.artikel .glyphicon-pencil {
		float: right;
		margin-right: 5px;
		margin-top: 5px;
		min-height: 1px;
		text-align: right;
	}
	.artikel p { padding: 0px 25px 0 25px;}
	.artikel p img {
		margin-right: 25px;
		max-height: 200px;
		max-width: 200px;
	}
	.artikelFooter {
		clear: left;
		font-size: 12px;
		font-style: italic;
		margin-bottom: 5px;
		text-align: right;
	}
	.btn-submit {
		background-color: #4E7A05;
		border: none;
		box-shadow: 2px 2px 2px 2px #324F02;
		color: white;
		margin-top: 10px;
		outline: none;
		padding: 5px;
	}
	.btn-submit:active { box-shadow: 2px 2px 2px 2px #324F02 inset;}

	.edit-body {
		height: 250px;
		resize: none;
		width: 600px;
	}
	.edit-title {
		font-size: 22px;
		height: 35px;
		width: 600px;
	}
	.frontPage {
		height: auto;
		margin-left: 50px;
		margin-right: 30px;
		padding: 5px 15px 5px 15px;
		position: relative;
		text-overflow: ellipsis;
	}
	.frontPage a {
		color: black;
		text-decoration: none;
	}
	.frontPage p > img {
		margin-right: 15px;
		max-height: 200px;
		max-width: 20%;
	}
	.nieuws {
		height: 100%;
		position: relative;
	}
	.nieuws .hidden {
		bottom: 0;
		color: white;
		position: absolute;
	}
	.nieuws .frontPage:hover {
		background: #DFDFDF;
		transition: all 0.6s;
	}
/*------*/

/*DEN18*/
	.content18 {
		padding-left: 30px;
		padding-right: 30px;
	}
	.den18 #mainpage { min-height: 1115px;}
	.pasfoto {
		height: 70px;
		width: 50px;
	}
	.photobox {
		background-color: white;
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		height: 80%;
		width: 26.7%;
		z-index: 1000;
	}
	.shadow {
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 999;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: black;
		opacity: 0.5;
		display: none;
	}
	.photobox img {
		height: 94%;
		margin: 3% 3% 3% 3%;
		width: 94%;
	}
	#close-button {
		top: 0;
		right: 0;
		position: absolute;
		background-color: #BFBFBF;
		width: 30px;
		height: 30px;
		cursor: pointer;
		opacity: 0.9;

	}
	.takken {
		clear: both;
		display: block;
		margin: 0 40px 0 40px;
		padding-top: 20px;
	}
	.takken td {
		border: none;	
		padding: 8px 5px 8px 7px;
		width: 155px;
	}
	#leiding table:not(:first-of-type) { width: 290px;}
	.takken h3, .takken h4, .takken h5 { text-align: center; }
	.overlay {
		cursor: pointer;
		z-index: 998;
		-webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}
	.name-overlay {
		font-weight: bold;
		position: absolute;
		bottom: 3%;
		right: 0;
		padding: 30px 40px 30px 20px;
		background-color: white;
		opacity: 0.8;
	}
/*-----*/

/*TECHNIEKEN*/
	#hakken, #sjorren {	padding-top: 30px;}
	.techniekTitel {
		background: #e1e1e1;
		margin-bottom: -21px;
		margin-left: -30px;
		padding: 15px 0 15px 50px;
	}
/*----------*/

/*FOTALBUM*/
	#close {
		border-radius: 0 20px 0 0;
		color: black;
		font-weight: bold;
		padding: 20px 20px 20px 20px;
		text-decoration: none;
	}
	#close:active {
		background-color: #EBEBEB;
		border-bottom: 1px;
		border-color: silver;
		border-left: 1px;
		border-style: solid;
	}
	#close:hover {
		background-color: #EBEBEB;
		transition: background-color 0.5s;
	}
	.lightBody { clear: both;}
	.lightHeader { margin-left: 2%;}
	#lightbox {
		background-color: white;
		border-radius: 20px;
		display: none;
		height: 75%;
		left: 50%;
		margin-left: -27%;
		margin-top: -10%;
		position: fixed;
		width: 55%;
		z-index: 1001;
	}
	#lightbox img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-height: 80%;
		width: auto;
	}
	#lightbox-shadow {
		background: #000;
		display: none;
		filter: alpha(opacity=75);
		-moz-opacity: 0.75;
		-khtml-opacity: 0.75;
		height: 200%;
		left: 0;
		opacity: 0.75;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1000;
	}
	#prev, #next { margin-top: -30%;}
	#prev { margin-left: 1.5%;}
	#next { margin-right: 1.5%;}
	#prev img, #next img {
		height: 64px;
		width: 64px;
	}
	#prev:hover,#next:hover { cursor: pointer;}
/*--------*/

/*CONTACT*/
	.googlemaps {
		max-height: 320px;
		margin-right: 50px;
		padding-right: 10px;
		max-width: 360px;
	}
	textarea { resize: none;}
/*-------*/

/*AANMELDEN*/
	#login_form { margin-top: 100px;}
	#login {float: right; width: 25%;}
	#login ul {width: auto;}
	#login input:not([type=submit]) {
		border: none;
		border-radius: 4px;
		box-shadow: 1px 1px 1px 1px silver inset;
	}
	#login input {width: 100%;}
	.btn-submit {
		background-color: #4E7A05;
		border: none;
		box-shadow: 2px 2px 2px 2px #324F02;
		color: white;
		margin-top: 10px;
		outline: none;
		padding: 5px;
	}
	.btn-submit:active { box-shadow: 2px 2px 2px 2px #324F02 inset;}
/*---------*/

/*LEIDING*/
	.col-md-2 {	padding-top: 50px;}
	.errors { color: red;}
	#instellingen { margin: 30px 0 30px 0;}
	#instellingen label { width: 200px;}
	#instellingen input[type=password] { float: right; margin-right: 300px;}
	#leiding { min-width: 1100px;}
	.leden td { white-space: nowrap;}

	form ul li { margin-bottom: 10px;}
	form ul { width: 500px;}
	ul li label { font-weight: bold;}
	ul < .details-data { width: 500px;}
	ul li > input:not([type=submit]) { float: right;}
	.details { width: 500px;}
	.details-label { font-weight: bold;}
	.details-data {
		float: right;
		width: 40%;
		text-align: left;
	}
	.email-list {
		display: none;
		padding-bottom: 50px;
		padding-top: 20px;
	}
	button.kapoenen, button.welpen, button.jojos,
	button.givers, button.jins { margin-left: 30px;}
	.cancel { margin-left: 20px;}
/*-------*/


	input { line-height: normal;}
	input::-moz-focus-inner {
	  border: 0;
	  padding: 0;
	}
	input[type="checkbox"],
	input[type="radio"] {
	  box-sizing: border-box;
	  padding: 0;
	}
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button { height: auto;}
	input[type="search"] {
	  -webkit-box-sizing: content-box;
	     -moz-box-sizing: content-box;
	          box-sizing: content-box;
	  -webkit-appearance: textfield;
	}
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-decoration { -webkit-appearance: none;}
/*----------*/

#login-mobi {
	display: block;
	width: 100%;
	background-color: #4E7A05;
	color: white;
}
#login input {float: none;}
.nav-toggle {
	cursor: pointer;
	float: right;
	margin-right: -2px;
}
.nav-mobi {
	margin-top: -14px;
	margin-bottom: -2px;
}
#logo {
	float: left;
	height: 35px;
	margin-left: 5px;
	margin-right: 10px;
}

/*GRID*/
	.span1	{ width: 8.33%;}
	.span2	{ width: 16.66%;}
	.span3	{ width: 25%;}
	.span4	{ width: 33.33%;}
	.span5	{ width: 41.66%;}
	.span6	{ width: 50%;}
	.span7	{ width: 58.33%;}
	.span8	{ width: 66.66%;}
	.span9	{ width: 75%;}
	.span10	{ width: 83.33%;}
	.span11 { width: 91.66%;}
	.span12 { width: 100%;}

	.offset1 { margin-left: 8.33%;}
	.offset2 { margin-left: 16.66%;}
	.offset3 { margin-left: 25%;}
	.offset4 { margin-left: 33.33%;}
	.offset5 { margin-left: 41.66%;}
	.offset6 { margin-left: 50%;}

	.row {width: 100%; height: 100%; display: inline-block;}
	.one-half {width: 50%; float: left;}
	.one-third {width: 33%; float: left;}
	.two-third {width: 66%; float: left;}
	.one-quarter {width: 25%; float: left;}
	.three-quarter {width: 75%; float: left;}

	[class*="span"] {
		float: left;
		min-height: 1px;
	}
/*----*/

/*----------------------------------------------------------------------------------------------------------------*/
@media (min-width: 960px) {
	/*AFBEELDINGEN*/
	#slider {min-height: 200px;}
	/*------------*/

	/*AGENDA/TABLES*/
	.agenda a {
		margin-right: -10px;
		padding: 10px 52px 10px 20px;
	}
	#agenda {
		height: 600px;
		margin-left: 50px;
		margin-top: 50px;
		width: 600px;
	}
	.mid td {
		border-left: 1px solid #dddddd;
		text-align: left;
		width: 300px;
	}
	.table {
	  width: 100%;
	  max-width: 100%;
	  margin-bottom: 60px;
	}
	.table > tbody > tr > td {
	  padding: 8px;
	  line-height: 1.42857143;
	  vertical-align: top;
	  border-top: 1px solid #ddd;
	}
	.table > thead:first-child > tr:first-child > th,
	.table > thead:first-child > tr:first-child > td { border-top: 0;}
	.table > thead > tr > th {
	  vertical-align: bottom;
	  border-bottom: 2px solid #ddd;
	}
	.table-bordered td { border-left: 1px solid #dddddd;}
	.table-bordered {
		border: 1px solid #dddddd;
		border-collapse: separate;
		border-left: 0;
		-webkit-border-radius: 4px;
	     -moz-border-radius: 4px;
	          border-radius: 4px;
	}
	/*------*/

	/*--BODY--*/
	body {
		background-attachment: fixed;
		/*background-image: url("../Afbeeldingen/bckgrnd.jpg");*/
		background-position: center;
		background-repeat: no-repeat;
	}
	main {
		padding: 2em 12.5%;
	}
	footer {
		padding-left: 110px;
		padding-right: 110px;
	}
	.hopper {
		margin-top: 50px;
		float: left;
	}
	#leftie {
		height: 100%;
		margin-bottom: -8px;
		margin-top: -8px;
		padding-top: 65px;
	}
	#rightie {
		margin-right: 40px;
		margin-top: 50px;
	}
	.subview {padding-left: 30px;}
	/*--------*/

	/*CONTAINER*/
	
	/*---------*/

	/*IFRAMES*/
	iframe {
		height: 300px;
		width: 360px;
	}
	/*-------*/

	/*NAVIGATION*/
	.navbar {
		margin-top: -4px;
		padding-bottom: 10px;
	}
	.inhoud {
		margin-left: 20px;
		padding-right: 20px;
		width: 200;
	}
	.inhoud h4 {padding-left: 15%;}
	#inhoud {
		line-height: 175%;
		margin-left: 20px;
		padding-left: 15px;
	}
	#main_container {
		margin-top: 10px;
		max-width: 1350px;
		padding-bottom: 20px;
	}
	.navbar .nav > li {
		padding: 0 5px;
		height: 50px;
		line-height: 50px;
	}
	nav {
		min-height: 40px;
		padding-left: 2.127%;
		padding-right: 2.127%;
	}
	.nav {margin-left: 0;}
	.nav li a {
		color: white;
		font-size: 20px;
		text-decoration: none;
	}
	/*----------*/

	/*TEXT*/
	.gray-title {
		margin-left: -20px;
		padding: 10px 0 10px 50px;
	}
	/*---*/

	/*NOSCRIPT*/
	noscript p {
		padding-left: 15px;
		padding-right: 15px;
	}
	/*--------*/


	/*INDEX*/
	#mainpage {
		height: 100%;
		margin-left: 0px;
		margin-top: -16px;
		min-height: 90vh;
		z-index: 2;
	}
	#register {
		padding-right: 120px;
		padding-top: 50px;
	}
	#second { margin-left: 40px;}
	#welkom {
		font-weight: bold;
		margin: -20px 0 0 20px;
	}
	/*-----*/

	/*NIEUWS*/
	.artikel p { padding: 0px 25px 0 25px;}
	.artikel p img {
		margin-right: 25px;
		max-height: 200px;
		max-width: 200px;
	}
	.artikelFooter {
		clear: left;
		font-size: 12px;
		font-style: italic;
		margin-bottom: 5px;
		text-align: right;
	}
	.btn-submit {
		border: none;
		color: white;
		margin-top: 10px;
		padding: 5px;
	}
	.btn-submit:active {box-shadow: 2px 2px 2px 2px #324F02 inset;}

	.edit-body {
		height: 250px;
		resize: none;
		width: 600px;
	}
	.edit-title {
		font-size: 22px;
		height: 35px;
		width: 600px;
	}
	.nieuws {
		height: 100%;
		position: relative;
		padding:0 12.5%;
	}
	.nieuws > article {margin: 2em 0;}
	.nieuws .hidden {
		bottom: 0;
		color: white;
		position: absolute;
	}
	/*------*/

	/*DEN18*/
	.content18 {
		padding-left: 30px;
		padding-right: 30px;
	}
	.den18 #mainpage {min-height: 1115px;}
	.pasfoto {
		height: 70px;
		width: 50px;
	}
	.takken {
		margin: 0 40px 0 40px;
		padding-top: 20px;
	}
	.takken td {
		border: none;	
		padding: 8px 5px 8px 7px;
		width: 155px;
	}
	.takken:not(#leiding) table {width: 100%;}
	#leiding table:not(:first-of-type) { width: 290px;}
	/*-----*/

	/*TECHNIEKEN*/
	#hakken, #sjorren {	padding-top: 30px;}
	.techniekTitel {
		margin-bottom: -21px;
		margin-left: -30px;
		padding: 15px 0 15px 50px;
		width: 670px;
	}
	/*----------*/

	/*CONTACT*/
	.googlemaps {
		float: right;
		height: 320px;
		margin-right: 50px;
		padding-right: 10px;
		width: 360px;
	}
	textarea { resize: none;}
	/*-------*/

	/*AANMELDEN*/
	#login_form { margin-top: 100px;}
	#login input:not([type=submit]) {
		border-radius: 4px;
		box-shadow: 1px 1px 1px 1px silver inset;
	}
	/*---------*/

	/*LEIDING*/
	.col-md-2 {	padding-top: 50px;}
	#instellingen { margin: 30px 0 30px 0;}
	#instellingen label { width: 200px;}
	#instellingen input[type=password] {
		float: right;
		margin-right: 300px;
	}
	#leiding { min-width: 1100px;}

	form ul li { margin-bottom: 10px;}
	form ul { width: 500px;}
	ul < .details-data { width: 500px;}
	.details { width: 500px;}
	.details-data { width: 40%; }
	.email-list {
		padding-bottom: 50px;
		padding-top: 20px;
	}
	button.kapoenen, button.welpen, button.jojos,
	button.givers, button.jins { margin-left: 30px;}
	.cancel { margin-left: 20px;}
	/*-------*/
	#login-mobi {display: none;}
	.nav-mobi, .nav-toggle {display: none;}
	#mobile-logo {display: none;}
}
@media (min-width: 837px) and (max-width: 959px) {
	#agenda {
		height: 600px;
		margin-left:5%;
		width: 80%;
	}
	.agenda a {
		padding-left: 10%;
		padding-right: 10%;
		margin-right: 0;
		width: inherit;
	}
	#leftie {width: 25%;}
	#leftie .title {
		width: 100%;
		margin-left: 0;
	}
	#mainpage {
		margin-left: 25%;
	}
	main {
		padding-top: 1%;
		padding-left: 2%;
	}
	main .span9 {
		float: left;
		padding-left: 2%;
		padding-right: 2%;
	}
	.nav-mobi, .nav-toggle, #mobile-logo, #login-mobi {display: none;}
	nav {min-height: 45px;}
	.span9 > main .title, .gray-title {
		margin-left: -2%;
		width: 102%;
	}
	#slider {
		margin-right: 20px;
		max-height: 200px;
	}
	#slider img {max-width: 100%;}
}
@media (min-width: 601px) and (max-width: 836px) {
	#agenda {
		height: 400px;
		margin-left: 5%;
		width: 80%;
	}
	.agenda a {
		font-size: 80%;
		padding-left: 8%;
		padding-right: 8%;
	}
	.content18 {float: left;}
	.dropdown ul {top: 48px;}
	#leftie {
		clear: left;
		width: 25%;
	}
	#login-mobi {
		height: 110px;
		padding-top: 5%;
	}
	#login-mobi ul {
		margin-left: 12.5%;
		width: 75%;
	}
	#login-mobi form ul li:nth-child(odd) {
		clear: left;
		float: left;
	}
	main {padding-top: 1%;}
	#mainpage {
		width: 75%;
		margin-left: 25%;
	}
	#mainpage #slider img {width: 100%;}
	#mobile-logo {display: none;}
	.navbar .nav li{margin-right: 4px;}
	.navbar < #login-mobi {display: none;}
	.nav-mobi, .nav-toggle {display: none;}
	.nav li a { font-size: 90%;}
	#slider {max-height: 170px;}
}
@media (max-width:836px) {
	main .span9 { 
		padding-left: 3%;
		padding-right: 3%;
	}
}
@media (min-width:601px) and (max-width: 959px) {.navbar {padding-bottom: 5px;}}
@media (max-width: 600px) {
	#agenda {
		width: 95%;
		margin-left: 1%;
		min-height: 400px;
	}
	.contact-form { margin-bottom: 25px;}
	.hopper {margin-bottom: 10%;}
	#leftie, #mainpage {width: 100%;}
	#leftie, #banner, #slider, .navbar nav,
	.subnav li:nth-child(6).takken table tr td:nth-child(2),
	.takken table thead th:nth-child(2) {display: none;}
	#login-mobi {
		position: relative;
		padding-bottom: 1%;
		padding-top: 10%;
	}
	#login-mobi ul {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
	}
	#login-mobi li input {
		float: none;
		width: 100%;
	}
	main {
		padding-top: 1%;
		overflow-x: hidden;
	}
	.navbar {
		min-height: 43px;
		padding-bottom: 0;
	}
	.nav-mobi {
		position: absolute;
		margin-top: -8px;
		height: 0;
		max-width: 600px;
		overflow-x: hidden;
		z-index: 50;
	}
	.nav-mobi li {
		padding: 1% 1% 1% 10%;
		background-color: #324F02;
	}
	.nav-mobi > ul {
		margin: 0 0 0 0;
		display: none;
		overflow-x: hidden;
		height: 273px;
		width: 600px;
	}
	.nav-mobi li a {
		font-size: 110%;
		color: white;
		text-decoration: none;
		padding-top: 4px;
	}
	.nav-mobi li ul li {
		background-color: #526F22;
		margin-top: 5px;
		margin-bottom: -5px;
		padding-left: 4%;
		margin-left: 5%;
	}
	#slider img {max-width: 100%;}
	.subnav {
		min-height: 1px;
		width: 90%;
		margin-left: 5%;
	}
	.takken table {margin-left: -50px;}
	.title, .gray-title {
		margin-left: -3%;
		width: 103%;
	}
}